
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
}
/*==============================  Body   ================================*/
body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/FrontDesk.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}
.wrapper{
    position: relative;
    height: 100%
}


/*==============================  Header   ================================*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
#logoName{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logo img{
    width :100px;
    height: 90px;
}

nav {
    padding: 2% 6%;
    width: 50%;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    flex-basis: 25%;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

nav .underline{
    position: absolute;
    top: 40px;
    left: 20%;
    display: inline-block;
    width: 60%;
    border-bottom: #f44336 3px solid;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li:hover {
    background-color: rgb(211, 63, 63);
    transition: 1s;
}
nav li:not(:hover){
    transition: 1s;
}

.navSubMenu{
    border-radius: 10px 10px 0 0;
}
.navSubMenu:hover{
    border-radius: 10px 10px 0 0;
}
.navSubMenu ul{
    display: none;
}
.navSubMenu:hover ul{
    display: block;
    transition: 0.5s;
}

.navSubMenu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0s;
}
.navSubMenu:not(:hover){
    border-radius: 10px;
    transition: 2s;
}
.navSubMenu ul li{
    width: 100%;
    border-top: 1px solid white;
}
.navSubMenu li{
    background-color: rgb(216, 101, 101);
    border-radius: 0;
}
.navSubMenu li:hover a{
    background-color: white;
    color: red;
    transition: 1s;
}

.navSubMenu li:last-child a{
    border-radius: 0 0 10px 10px;
}
.navSubMenu li:last-child a:hover{
    border-radius: 0 0 10px 10px;
}
.navSubMenu:hover>ul {
    opacity: 1;
    display: block;
    transition: opacity 1s;
}
.navSubMenu li:last-child{
    border-radius: 0 0 10px 10px;
}

header a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.logo h1 {
    flex-wrap: wrap;
    width: 300px;
    margin: 0 20px;
}
/*===END Header===*/



/*==============================  Footer   ================================*/

footer{
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
    /*background: linear-gradient(to bottom, rgba(58, 58, 54, 0.8), rgba(58, 58, 54, 0.3));*/
    background-color: black;
    padding: 20px;
    margin-top: 10px;
}
footer nav{
    margin: 0 auto;
}

.block{
    height: 1000px;
    width: 200px;
    background-color: pink;
}

/*===END Footer===*/
