* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/FrontDesk.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 6%; */
    /* cover full width of page */
    align-items: center;
    background-color: #81251f54;
}

/* ------------------------------- */
nav {
    /* display: inline-block; */
    padding: 2% 6%;
    width: 50%;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    flex-basis: 25%;
    text-align: center;
    position: relative;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
    background-color: rgb(216, 101, 101);
    transition: opacity 0s;
}

nav ul ul li {
    width: 100%;
    border-top: 1px solid white;
}

nav li:hover>ul {
    opacity: 1;
    display: block;
    transition: opacity 1s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


nav li:hover {
    background-color: rgb(211, 63, 63);
    transition: 1s;
}

nav ul ul li a {
    padding: 10px;
    text-align: center;
}

nav ul ul li:hover a {
    background-color: white;
    color: red;
    transition: 0.25s;
}

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.logo h1 {
    flex-wrap: wrap;
    width: 300px;
    margin: 0 20px;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.about-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-video iframe {
    width: 80%;
    height: 80%;
}

.about-text {
    text-align: center;
    margin-top: 50px;
}