* {
    font-family: Arial, sans-serif;
}

.about-team-section {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/RobotDrive.webp);
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: #fff;
}

.about-team-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-team-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-team-content {
    padding: 20px;
    border-radius: 5px;
}

.about-team-content p {
    font-size: 20px;
    line-height: 1.5em;
}




.team-member-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fefdfd;
}

.team-member-section .team-member-header {
    margin-bottom: 20px;
}

.team-memer-header h2 {
    font-size: 2em;
    font-family: 'Lato';
}

.team-member-list .team{
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.team-member {
    width: 80%;
    height: 350px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffe766;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.team-member-title {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.team-member-experience {
    font-size: 14px;
    line-height: 1.5;
    text-align: left
}

.environment {
    background-color: #f9f5f5;
    padding: 40px;
}

.environment-wrap {
    /* max-width: 960px;
    margin: 0 auto; */
}

.environment-description-box {
    display: flex;
    width: 100%;
    margin-bottom: 3em;
    padding: 1em;
    justify-content: space-evenly;
}

.environment-description {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 3em;
    /* padding: 0 2em; */
}

.environment-description h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

.environment-description p {
    font-size: 1.2em;
}

.environment-img-box {
    width: 450px;
    border-radius: 2px;
    overflow: hidden;
}

.environment-img-box img {
    /* display: block; */
    width: 100%;
}

.environment-image-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.environment-image-list li {
    flex: 1;
    margin-right: 20px;
}

.environment-image-list img {
    max-width: 100%;
}

.environment-image-list p {
    margin-top: 10px;
    text-align: center;
}