/*

main{

}*/
.bodyContent{
    height: auto;
    width: 100%;
}
/*=========================  contain1   =========================*/

.CompanyTitle{
    position: relative;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
}
.darkBG{
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
/*


.c1_description{
    width: 70%;
    height: auto;
    margin: 6em auto 0 20%;
    vertical-align: center;
    font-family: "aktiv-grotesk",
    'Open Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

.c1_description h1{
    color: #61aaff;
    margin: 20px 0;
    font-size: 3em;
    white-space: nowrap;
}
.c1_description ul{
    margin-left: 3em;
    !*list-style: none;*!
    color: #ffffff;
    font-size: 1.3em;

}
.c1_description ul li{
    margin-bottom: 8px;
    white-space: nowrap;
}*/
.CompanyTitle h1,h3{
    color: #ffffff;
    text-align: center;
}
.CompanyTitle h1 {
    margin-top: 120px;
    font-size: 4em;
    font-weight: bold;
}
.CompanyTitle h3{
    margin-top: 12px;
    font-size: 1.3em;
}



/*=========================  content2   =========================*/

.content2{
    width: auto;
    height: 30em;
    background-color: #fdfdfd;
    padding: 30px;
}
.video-container{
    width: 65%;
    min-width: 25em;
    height: 100%;
    margin: 0 auto;
}
.video-container iframe{
    width: 100%;
    height: 100%;
}
.block{
    background-color: pink;
    width: 100px;
    height: 1000px;
    margin-bottom: 10px;
}

/*=========================  WhatWeProvide_container   =========================*/

.WhatWeProvide_container{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.WhatWeProvide_content{
    position: absolute;
    top: 120px;
    left: 7%;
    float: left;
    width: 50%;
}
.WhatWeProvide_content h1 {
    font-size: 2.7em;
    font-weight: bold;
}
.WhatWeProvide_content ul {
    padding-left: 40px;
    margin-top: 10px;
    font-size: 1.3em;
}
.WhatWeProvide_content ul li{
    margin-bottom: 9px;
}

.WhatWeProvide_img{
    float: right;
    width: 50%;
}

