.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'worksans-extralight',
        'work sans',
        sans-serif
}

.item {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1050px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.item:last-child {
    border-bottom: none;
}

.item .blog-title {
    width: 30em;
}

.item .content {
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 20px;
}

.item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: 0;
}

.blog-section h1 {
    /* font-family: 'worksans-extralight',
            'work sans',
            sans-serif; */
    font-weight: 700;
    text-align: center;
    margin-top: 1em;
    font-size: 38px;
}


h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    display: block;
    max-width: 200px;
}

button:hover {
    color: #469fa5
}

.date {
    font-size: 14px;
    color: grey;
    font-weight: bold;
    margin-bottom: 2em;
}

.title {
    font-size: 24px;
    color: #555;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    font-size: 16px;
    color: grey;
    margin-bottom: 2.5em;
}

ul.container {
    list-style-type: none
}
