.read-more {
    font-size: 13px;
    width: fit-content;
    padding: 8px 10px;
    background-color: #0096ff;
    text-decoration: none;
    color: #fff;
    border-radius: 0.2em;
    display: inline-block;
    line-height: normal;
}

/* program general */
.program-general {
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(../img/VEXeducation.webp) center no-repeat;    
    background-size: cover;
    background-attachment:fixed;
    padding: 2em;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
}

.program-general .general-content {
    box-sizing: border-box;
    padding: 1em;
    padding-bottom: 3em;
    /* background-color: #f7cf22d9; */
    background-color: #333;
    width: 35em;
    margin: 0 auto;
    border-radius: 5px;
}

.program-general h2 {
    text-align: center;
    padding: 1em;
    color: #D63333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.program-general p {
    font-size: 0.8em;
    color: #ccc;
}


/* Programs Section */
.programs-section {
    background-color: #f2f2f2;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.program {
    width: 19em;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #6666;
    border-left: solid 1em #66ccff;
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.program img {
    display: block;
    width: 100%
}

.program h2,
.program-description {
    padding: 20px 30px;
}

.program h2 {
    color: #333333;
    font-size: 20px;
    padding-bottom: 0px;
}

.target-age {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.program-description {
    color: #555;
    font-size: 16px;
    /* margin-bottom: 10px; */
}

.program-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



h3 {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
    flex-basis: 100%;
}

ul {
    list-style-type: none;
    /* margin-left: 20px; */
    color: #666666;
    flex-basis: 45%;
    font-size: 16px;
}

li {
    margin-bottom: 5px;
}

.program-outcome {
    flex-basis: 45%;
}


/* Program section */
.program-details-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 16px;
}

.program-learn,
.program-outcome {
    flex-basis: calc(45% - 10px);
    margin-bottom: 20px;
}

.program .read-more {
    margin-left: 30px;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .program-details-wrapper {
        flex-direction: column;
    }

    .program-learn,
    .program-outcome {
        flex-basis: 100%;
    }
}